* {
	box-sizing: border-box;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

body {
	padding: 20px;
}

.btn-wrapper {
	display: inline-block;
	background: #ccc;
	outline: none;
	border: none;
	cursor: pointer;
	border-radius: 1rem;
	box-shadow: 0 0 0 .1rem #fff, 
							0 0 0 .2rem #666, 
							0 .1rem .3rem .1rem #666;
	padding: .5rem;
}

.btn-content {
	display: flex;
	align-items: center;
	text-align: center;
	background: linear-gradient(to bottom, #ebebeb 0%, #cdcdcd 50%, #ababab 100%);
	box-shadow: 0 1px 2px #6a6a6a, inset 0 -1px 1px #6a6a6a;
	border-radius: .5rem;
}

.btn-text {
	color: #545454;	
	font-size: 1.6rem;
	font-weight: bold;
	text-transform: uppercase;
	user-select: none;
	padding: .5rem 1rem;
}

.btn-text::before, .btn-text::after {
	font-size: 1.7rem;
	content: '\2605';
	color: #898989;
}

.btn-text::before {
	padding-right: .3rem;
}

.btn-text::after {
	padding-left: .3rem;
}