.card-box {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    flex-shrink: 0;
    width: 282px;
    max-height: calc(100% - 40px);
    padding: 12px 0 0 12px;
    background: #EBECF0;
    border: none;
    border-radius: 10px;
    overflow-y: hidden;
}

.card-box__head-box {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-right: 12px;
}

.head-box__heading {
    font-size: 1.8rem;
    line-height: 2.1rem;
    text-align: left;
    color: #000;
}

.head-box__btn-show-props {
    display: inline-flex;
}

.card-box__content {
    width: 100%;
    padding: 15px 12px 0 0;
    margin-bottom: 8px;
    overflow-x: hidden;
    overflow-y: auto;
}

.card-box__content-btn {
    margin-top: 17px;
}

.card-box-list {
    display: inline-flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
}