.user-menu {
    display: inline-flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 40px;
}

.user-menu__avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #fff;
}